html{background-color: black;}

h1, h2, h3, p {font-family: Verdana;
              background-color: black;
              text-align: center;
            }
.header h1 {font-weight: normal;
            font-size: 50px;
            color: white;
          }
.header h3 {font-size: 16px;
          }
.content h2 {color: white;
            font-weight: 300;
            font-size: 42px;
            }
.content h3 {font-size: 21px;
             color: gray;
            }
.footer h3 {color: gray;
            text-align: right;
           }
